:root {
    --red: #BC4B51;
    --black: #151515;
    --white: #EDF0DA;
    --beige: #F0DFAD;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black);
}

main {
    background-color: var(--red);
    height: 34rem;
    width: 27rem;
    border-radius: 5%;
    box-shadow: 0 0 1rem var(--black);
}

.title {
    color: var(--beige);
    text-align: center;
    font-size: 2.5rem;
}

.keyboard {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key {
    margin: 0.1rem;
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
    background-color: var(--beige);
    box-shadow: 0 0 1rem var(--black);
    border-radius: 10%;
    font-size: 2.2rem;
    text-align: center;
}

.key-enter {
    font-size: 1.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13d63e;
}

.key-delete {
    font-size: 1.5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2f2f;
}

.key-word {
    margin: 0.1rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    background-color: var(--beige);
    box-shadow: 0 0 1rem var(--black);
    border-radius: 10%;
    font-size: 3rem;
    text-align: center;
}


.words {
    display: flex;
    justify-content: center;
}

#black-curtain {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    display: none;
}

#win {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4;
    height: 45%;
    width: 25%;
    background-color: var(--red);
    position: fixed;
    border-radius: 5%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    padding: 0.3rem;
    border-radius: 10%;
    box-shadow: 0 0 0.5rem var(--black);
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}

.retry {
    background-color: rgb(59, 27, 199);
}

.close {
    background-color: rgb(199, 27, 27);
}